<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

</head>
<body>

<div class="container-fluid mt-3 ms-5">
  <div id="main_row" class="row">
      <div id="SVG_PLACEHOLDER" class="col-8 img-fluid">

          <!-- Jinja2
          {% autoescape false %}
            {{ board_svg | safe}}
          {% endautoescape %}
          -->

      </div>
      <div class="col-3">
            <h3 id='TITLE'></h3>
              <!-- <form action="#" method="post"> -->
                  <!-- Prev Next buttons -->
                  <div class="row">
                      <div class="col">
                          <button id="BTN_PREV" type="submit" class="btn btn-outline-primary btn-lg w-100" name="prev_btn" value="clicked">Prev</button>
                      </div>
                      <div class="col">
                          <button id="BTN_NEXT" type="submit" class="btn btn-outline-primary btn-lg w-100" name="next_btn" value="clicked">Next</button>
                      </div>
                  </div>

                  <!-- reset button -->
                  <div class="row p-2">
                    <button id="BTN_RESET" type="submit" class="btn btn-outline-primary btn-lg w-100" name="reset" value="clicked">Reset</button>
                  </div>

                  <!-- Mirror button -->
                  <div class="row p-2">
                    <button id="BTN_MIRROR" class="btn btn-outline-primary btn-lg w-100">Mirror board</button>
                  </div>

                      <hr class="rounded">

                  <!-- Openings select box -->
                  <div class="row">
                      <h5>Openings</h5>
                        <select class="form-select" name="openings" id="SELECT1" onchange="val()">
                        </select>
                  </div>

      </div>
  </div>
</div>

<script src="/static/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>